%h1 
  cd into this file's folder:
%p 
  = @question

%form{:action=>"/", :method=>"POST"}
  %label{:for=>"POST-first"}new_rails_project$ cd
  %textarea{:type=>"text", :name=>"filepath", :placeholder=>"filepath"}
  %button{:type=>"submit", :value=>"Go"}Go

- if @answer
  %p
    = @result
  %p
    The answer was:
    = @answer
  %p
    you said:
    = params["filepath"]

  %a{:href=>"/"}Play again.
