%h1 Rails
%h2 Where's the folder?
%h3 
  = @question

.terminal
  %form{:action=>"/", :method=>"POST"}
    %label{:for=>"POST-first"}new_rails_project$ cd
    %input{:type=>"text", :name=>"filepath", :placeholder=>"filepath"}
    %button{:type=>"submit", :value=>"Go"}Go

- if @answer
  %p
    = @result
  %p
    The answer was:
    = @answer
  %p
    you said:
    = params["filepath"]

  %a{:href=>"/"}Play again.
