%h1 Rails
%h2 
  Where's the file?
%h3 
  = @question
%p Need Help? <span class="help">The following is a file from an out-of-the-box rails app. From the rails root, cd into this file's folder.</span>

.terminal
  .close
  .minimize
  .maximize
  %form{:action=>"/", :method=>"POST"}
    %label{:for=>"POST-first"}new_rails_project$ cd
    %input{:type=>"text", :name=>"filepath", :placeholder=>"file/path"}

- if @answer
  %p
    = @result
  %p
    The answer was:
    = @answer
  %p
    you said:
    = params["filepath"]

  %a{:href=>"/"}Play again.
